/* Write your code here. */

.ulElement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-image: linear-gradient(45deg, #9796f0, #6a59ff);
  margin: 0px;
  padding: 1% 20%;
  min-height: 85vh;
  max-height: 150vh;
  justify-content: center;
  cursor: pointer;
}
